<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ace.infosolutions.guruprasadhotelapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <uses-feature android:name="android.hardware.usb.host" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Manager.NavFragments.Tally.CalculateTallyTable"></activity>
        <activity android:name=".Manager.NavFragments.Tally.TableTallyDateList" />
        <activity android:name=".Manager.NavFragments.Tally.CalculateTallyOnline" />
        <activity android:name=".Manager.NavFragments.Tally.CalculateTallyParcel" />
        <activity android:name=".Manager.NavFragments.Tally.TableTally" />
        <activity android:name=".Manager.NavFragments.ParcelHistory.ParcelHistoryItemList" />
        <activity android:name=".Manager.NavFragments.Tally.CalculateTallyGrand" />
        <activity android:name=".Manager.NavFragments.Tally.TableTallyMonthList" />
        <activity android:name=".Manager.NavFragments.History.HistoryItems" />
        <activity
            android:name=".Captain.Parcel.ViewCartParcel.ViewCartParcel"
            android:label="@string/title_activity_view_cart_parcel"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Captain.Parcel.AddParcel" />
        <activity android:name=".Captain.Fish.FishList" />
        <activity android:name=".Manager.NavFragments.CustomerList.ConfirmFinalBill" />
        <activity
            android:name=".Captain.ViewCart.ViewCart"
            android:label="@string/title_activity_view_cart"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Captain.ItemList"
            android:windowSoftInputMode="adjustNothing">

        </activity>
        <activity
            android:name=".Captain.FoodMenu"
            android:label="@string/title_activity_food_menu"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Captain.CaptainMainFragment"
            android:label="@string/title_activity_captain_main_fragment"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Utils.CheckRole" />
        <activity android:name=".Captain.AddCustomer" />
        <activity android:name=".Manager.Manager" />
        <activity android:name=".Captain.Parcel.FoodMenuParcel" />
        <activity android:name=".Captain.Parcel.ItemListParcel" />
        <activity android:name=".Captain.Parcel.FishListParcel" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>